[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nfcore.utils"]
	path = nfcore.utils
	url = https://github.com/nf-core/r-nf-core-utils
